{% extends "AppCoder/index.html" %}
{% load static %}

<title>
    {% block titulo %}
        Acerca de Mí
    {% endblock %}
</title>

{% block cuerpo %}
    <h1>Eduardo Valles</h1>
    <p>
        Ingeniero Industrial, apasionado por el management y la educación. 
        Apasionado por crear soluciones web innovadoras, aprendiendo python actualmente.
        <br>
        <a href="https://www.linkedin.com/in/valleseduardo/">LinkedIn</a> |
        <a href="https://github.com/valleseduardo/projecto1.git">GitHub</a>
    </p>
{% endblock %}